<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connStr"
          connectionString="Data Source=WIN-976F7N0OD83;Initial Catalog=AHEAD;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <!--WIN-976F7N0OD83-->
      <!--connectionString="Server=93.190.46.34,33301;Initial Catalog=uh1181949_db;User ID=uh1181949_user;Password=ks4v37rjNh;Network Library=DBMSSOCN"-->
        </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="amzLink" value="https://www.amazon.com/s?k=" />
    <add key="saveMe" value="true" />
    <add key="currencyCheck" value="01.10.2019" />
  </appSettings>
</configuration>