<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connStr"
          connectionString="Data Source=Lolodin;Initial Catalog=AHEAD;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <!--KCRF1NH-AHEAD-M-->
        </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="amzLink" value="https://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&amp;field-keywords=" />
    <add key="saveMe" value="false" />
  </appSettings>
</configuration>