<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="connStrLocal"
          connectionString="Server=192.168.88.230,1433;Initial Catalog=AHEAD;User ID=BFUser;Password=ayXL664N1;Network Library=DBMSSOCN"
          providerName="System.Data.SqlClient" />
        </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="serverIp" value="94.154.208.253" />
    <add key="reportsPath" value="D:\BonaFides - отчеты\everyday_reports" />
  </appSettings>
</configuration>